@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: whitesmoke;
  }

  /* Override Tailwind's base margin and padding reset */
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
}
